*{
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(170% 100% at 50% -20%, #DBE4FF 50%, #F4F7FF 80%);
    background-attachment: fixed; /* Mantém o fundo parado ao rolar */
}

header.container {
    text-align: center;
    justify-items: center;
    background-color: white;
}

