* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh; /* Ocupa a altura total da tela */
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: #F4F7FF; 
    background-image: radial-gradient(170% 100% at 50% -20%, #DBE4FF 50%, #F4F7FF 52%);
    background-attachment: fixed;
}

.container {
    background-color: white;
    width: 500px; 
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
}


.container p#primero-paragrafo {
    margin-top: 5vh;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container #segundo-paragrafo {
  margin-top: 5vh;
  align-items: center;
  justify-content: space-between;
  gap: 2;
}

.container div#plano {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  background-color: rgb(220, 216, 216);
}

.container #planoevalor {
    margin-right: 150px;
    display: block;
    justify-content: space-around;
    gap: 2;
    font-family:Arial, Helvetica, sans-serif;
}

p#mudar > p {
    color: blue;
    
}
p#mudar:hover {
    color: white;
}

button {
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgb(12, 102, 228);
    border: 1px solid;
    border-radius: 50vh;
    width: 400px;
    height: 60px;
}

p#cancelar-pedido {
    margin-top: 20px;
    margin-bottom: 30px;
}

p#mudar a {
    text-decoration: none;
    color: #3862e1;
}

p#cancelar-pedido a {
    text-decoration: none;
    color: #3862e1;
}

footer {
    margin-top: 20px;
}

footer a {
    color: #3862e1;
    text-decoration: none;
}

footer a:hover {
    color: blue;
    text-decoration: double;
}